
#onboardBackground
  #ramblerLogo
    img.logo(src='images/ramblerLogo.svg', alt='images/ramblerLogo.png')
      
  #onboardHolder
    h1.onboarding Welcome to Rambler!
    p Check out a <a href='/main/demo'>demo</a>.

    p Rambler was built by some guys at <a href='https://plaid.io'>Plaid</a>, during Disrupt 2013. We've since let the project go by the wayside - however, we'll open source it on our <a href='http://github.com/plaid'>github</a> soon. We've got some magic in the making - so keep an eye out!

  #plaidHolder
    .builtBy Lovingly built in NYC by <a href='http://plaid.io'>Michael, Zach and William</plaid>.
    //img.plaidLogo(src='https://www.plaid.io/images/plaidLogoWhite.svg', alt='https://www.plaid.io/images/plaidLogoWhite.png')
